body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14;
  color: #000000;
  text-transform: uppercase;
  background-color: rgba(240, 240, 240, 1);
}

.general-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.3);
}

.container-index {
  background-color: #7e7e7e;
  background-image: url("../img/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

.hide {
  display: none;
}

/*Хедер*/
.header-menu {
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  left: 0;
  width: 100%;
}

.logo {
  position: absolute;
  left: 50%;
  margin-left: -70px;
}

.main-nav {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  list-style: none;
  width: 1056px;
  min-height: 56px;
  margin: 0 auto;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav a {
  font: inherit;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.main-nav li {
  min-width: 240px;
  text-align: center;
  margin-top: 14px;
}

.main-nav li:nth-child(4n-3),
.main-nav li:nth-child(4n-2) {
  text-align: left;
}

.main-nav li:nth-child(4n-1),
.main-nav li:nth-child(4n) {
  text-align: right;
}

.main-nav li:nth-child(4n-2),
.main-nav li:nth-child(4n-1) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}


.main-nav a:hover {
  color: #80b2d3;
}

.main-nav a:focus {
  color: #cacaca;
}

.main-nav .active-header {
  color: #756357;
}

/*Основной контент*/

.main-background {
  text-align: center;
  position: relative;
  min-height: 507px;
}

.logo-sedona {
  margin-top: 75px;
}

.main-background::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/intro-mask.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 1200px;
  height: 59px;
  left: 0px;
  bottom: -3px;
}

.holet-search {
  background-color: #ffffff;
  display: none;
}

.sedona-info {
  font-family: inherit;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  min-height: 216px;
  margin-bottom: 0px;
}

.sedona-info-header {
  padding-top: 60px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  width: 450px;
  margin: 0 auto;
}

.sedona-info-footer {
  font-size: 14px;
  padding-top: 14px;
  line-height: 26px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.recommend-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 162px;
  padding-right: 162px;
  padding-top: 56px;
  background-color: #ffffff;
}

.recommendations {
  font-family: inherit;
  background-color: #ffffff;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommend-items p {
  width: 290px;
}

.recommendations-height {
  min-height: 331px;
}

.recommend-items {
  width: 300px;
  min-height: 200px;
  text-align: center;
  line-height: 21px;
  margin-top: 7px;
  margin-right: 49px;
  margin-left: 49px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recommend-margin p {
  width: 280px;
}

.recommend-margin {
  margin-top: 25px;
  margin-right: 59px;
  margin-bottom: 31px;
  margin-left: 59px;
}

.recommendations-background {
  background-color: #eeeeee;
}

.recommend-items svg {
  margin-top: 50px;
  margin-bottom: 8px;
}

.recommend-items p:first-of-type {
  font-size: 21px;
  font-weight: bold;
}

.recommend-items p:nth-of-type(2) {
  font-size: 14px;
  margin-top: 4px;
}

.recommend-items p:nth-of-type(3) {
  margin-top: 8px;
  font-size: 14px;
}

.real-cities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 256px;
}


.real-cities-text {
  background-color: #81b3d2;
  padding-top: 27px;
  width: 400px;
}

.real-cities-text:last-child p {
  width: 320px;
}

.real-cities-text p {
  font-family: inherit;
  color: #ffffff;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  line-height: 21px;
}

.real-cities-text p:first-of-type {
  margin-top: 19px;
  font-weight: bold;
  font-size: 21px;
}

.real-cities-text p:nth-of-type(n+2) {
  margin-top: 24px;
  font-size: 14px;
}

.real-cities-text p:nth-of-type(3) {
  margin-top: 22px;
}

.real-cities-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #48544a;
}

.heading-search {
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
}

.interested {
  position: relative;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  min-height: 240px;
  padding-top: 21px;
  margin: 0 auto;
}

.interested-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 23px;
}

.interested-footer {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.interested a:hover {
  background-color: #604e44;
}

.interested a:focus {
  background-color: #503e32;
  color: #918a84;
}

.form {
  display: block;
}

.search {
  display: block;
  vertical-align: middle;
  margin: 0 auto;
  margin-top: 47px;
  padding-top: 32px;
  font-family: inherit;
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
  background-color: #766257;
  width: 567px;
  height: 54px;
}

.popup-position {
  position: absolute;
  top: 289px;
  left: 316px;
}

.popup-container {
  width: 567px;
  min-height: 395px;
  box-shadow: 0 9px 15px  rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.fieldset-popup {
  padding-top: 55px;
  padding-left: 25px;
  border: 0;
}

.fieldset-popup div {
  height: 38px;
  margin-bottom: 30px;

  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.fieldset-popup div label {
  vertical-align: middle;
}

.date-arrival,
.date-departure {
  width: 467px;
}

.number-adults {
  width: 250px;
}

.number-child {
  width: 220px;
  margin-left: 0px;
  padding-left: 0px;
}

.number-child label {
  margin-left: 27px;
}

.fieldset-popup input[type] {
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #f2f2f2;
  color: #000000;
  height: 36px;
}

input::-moz-placeholder {
  color: #000000;
}
input::-webkit-input-placeholder {
  color: #000000;
}

.date-arrival input[type="text"],
.date-departure input[type="text"] {
  width: 329px;
  height: 30px;
  border: 3px solid #f2f2f2;
  padding-left: 12px;
  margin-left: 15px;
  vertical-align: middle;
}

.date-arrival input[type="text"] {
  margin-left: 19px;
}

.date-arrival input[type="text"]:hover,
.date-departure input[type="text"]:hover {
  background-color: #ebebeb;
  border: 3px solid #ebebeb;
}

.date-arrival input[type="text"]:focus,
.date-departure input[type="text"]:focus {
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #e5e5e5;
}

.date-arrival button,
.date-departure button {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 38px;
  height: 38px;
  vertical-align: middle;
  margin-left: -42px;
}

.svg-color {
  fill: #a9a9a9;
}

.date-arrival button:hover .svg-color,
.date-departure button:hover .svg-color {
  fill: #000000;
}

.date-arrival button:focus .svg-color,
.date-departure button:focus .svg-color {
  fill: #81b3d2;
}

.number-adults input[type="text"],
.number-child input[type="text"] {
  width: 38px;
  margin-left: -4px;
  margin-right: -4px;
  text-align: center;
  vertical-align: middle;
}

.number-adults button,
.number-child button {
  border: 0;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  vertical-align: middle;
}

.number-adults button,
.number-child button {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  color: #a9a9a9;
  vertical-align: middle;
}

.number-adults button:hover,
.number-child button:hover {
  color: #000000;
}

.number-adults button:focus,
.number-child button:focus {
  color: #81b3d2;
}

.number-adults button:nth-of-type(1) {
  margin-left: 38px;
}

.number-child button:nth-of-type(1) {
  margin-left: 25px;
}


.fieldset-popup button[type="submit"] {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  width: 458px;
  height: 58px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  margin-top: 23px;
  margin-right: 12px;
}

.fieldset-popup button[type="submit"]:hover {
  background-color: #669ec0;
}

.fieldset-popup button[type="submit"]:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  background-color: #ffffff;
}

/* сетка основного контента второй страницы */

.main-part {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  min-height: 217px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  background-image: url("../img/background.jpg");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #7e7e7e;
}

.main-part fieldset {
  border: none;
}

.main-part ul {
  list-style: none;
}

.first-menu,
.second-menu,
.last-menu {
  line-height: 26px;
  margin: 24px 27px 0 27px;
}

.first-menu {
  margin-left: 62px;
}

.second-menu {
  margin-left: 70px;
}

.last-menu {
  margin-left: 290px;
}

.last-menu {
  display: block;
  width: 323px;
  text-align: center;
}

.parameter {
  border: 2px solid white;
  width: 314px;
  height: 32px;
  margin-top: 4px;
  border-radius: 3px;
}

.comfort {
  position: relative;
}

.comfort li {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 39px;
}

.comfort input[type="checkbox"] {
  opacity: 0;
  display: none;
}

.checkbox + label {
  position: relative;
}

.checkbox + label::before {
  content: "";
  position: absolute;
  display: block;
  background-color: rgba(0, 0, 0, 0);
  width: 26px;
  height: 22px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: -2px;
  left: -39px;

  background-image: url(../img/checkbox-off.svg);
  background-position: left;
  background-size: auto;
  background-repeat: no-repeat;
}

.checkbox:checked + label::before {
  background-image: url(../img/checkbox-on.svg);
}

.parameter input[type="text"] {
  content: "";
  font-family: inherit;
  color: #ffffff;
  font-size: 14px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  text-transform: uppercase;
  margin-top: 5px;
  width: 146px;
  height: 20px;
}

.parameter input[type="text"]:first-child {
  margin-left: 2px;
  margin-right: 6px;
}
.parameter input[type="text"]:last-child {
  border-left: 2px solid white;
}

.parameter input::-moz-placeholder {
  color: #ffffff;
}

.parameter input::-webkit-input-placeholder {
  color: #ffffff;
}

.price-range {
  position: relative;
  width: 318px;
  margin-top: 15px;
  margin-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.choice-strip {
  position: absolute;
  height: 3px;
  width: 260px;
  background-color: #ffffff;
  top: 4px;
  left: 3px;
}
.choice-strip-right {
  position: absolute;
  height: 3px;
  width: 57px;
  background-color: rgba(255, 255, 255, 0.3);;
  top: 4px;
  left: 260px;
}
.min-slider {
  position: absolute;
  border: 8px solid #ffffff;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  top: -4px;
  left: 0px;
}
.max-slider {
  position: absolute;
  border: 8px solid #ffffff;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  top: -4px;
  right: 45px;
}

.last-menu button[type="submit"] {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  text-transform: uppercase;
  border: 2px solid white;
  color: white;
  width: 137px;
  height: 36px;
  margin-top: 34px;
  margin-right: 12px;
  border-radius: 3px;
}

.heading-search {
  text-align: left;
}

.find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 31px;
  padding-left: 71px;
  background-color: #fefefe;
}

.find-header {
  font-family: inherit;
  font-size: 21px;
  font-weight: bold;
}

.find section {
  font-size: 12px;
  margin-left: 48px;
}

.find a:nth-child(1) {
  margin-left: 38px;
}

.find a:nth-child(n+2):nth-child(-n+4) {
  margin-left: 29px;
}

.find a:nth-child(5) {
  margin-left: 505px;
}

.find .find-choise {
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
}

.find .find-choise:hover {
  color: #81b3d2;
}

.find .find-choise:focus {
  color: #000000;
  border: 0;
}

.find a:nth-child(n+5) {
  display: inline-block;
  text-align: center;
  padding-top: 5px;
  width: 20px;
  height: 15px;
}

.find .active-find {
  color: #84b3d1;
  border: 0;
}

.find a .icon-up,
.find a .icon-down {
  fill: #cacaca;
}

.find a:hover .icon-up,
.find a:hover .icon-down {
  fill: #231f20;
}

.find a:focus .icon-up,
.find a:focus .icon-down {
  fill: #84b3d1;
  border: 0;
}

.find a .active-icon {
  fill: #84b3d1;
}

.hotels {
  background-color: #fefefe;
  width: 1200px;
  min-height: 150px;
}

.hotels ul {
  list-style: none;
  margin: 0;
}

.name-hotel a {
  font-family: inherit;
  font-size: 21px;
  color: #000000;
}

.hotels-list {
  line-height: 21px;
  height: 90px;
  border-top: 1px solid rgba(0, 1, 1, 0.1);
  padding-top: 29px;
  padding-bottom: 31px;
  padding-left: 72px;
  padding-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.hotels-list:last-child {
  border-bottom: 1px solid rgba(0, 1, 1, 0.1);
}

.hotels-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0px;
  -ms-flex-preferred-size: 280px;
      flex-basis: 280px;
  height: 96px;
  margin-right: 465px;
}

.hotels-part h2 a:hover {
  color: #81b2d2;
}

.hotels-part h2 a:focus {
  color: #cacaca;
}

.name-hotel {
  padding-top: 0;
  margin-top: 0;
}

.hotels-part p {
  font-size: 14px;
  line-height: 21px;
  width: 116px;
  margin-top: 10px;
  margin-bottom: 3px;

}

.name-hotel {
  margin: 0;
  padding: 0;
}

.hotels-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  min-height: 90px;
  width: 125px;
}

.hotels-rating ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 20px;
  margin: 0;
  padding: 0;
}
.hotels-rating ul li {
  margin-right: 6px;
  padding: 0;

}

.hotels-rating ul li:last-child {
  margin-right: 10px;
}


.hotels-rating p {
  font-size: 14px;
  text-align: center;
  padding: 2px 0 0 0;
  background-color: #f2f2f2;
  margin: 20px 0 0 5px;
  width: 105px;
  height: 22px;
}

.hotels-botton {
  text-align: center;
  margin-top: 10px;
  margin-right: 6px;
  margin-bottom: 3px;
}

.more-detail {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 4px 16px;
}

.more-detail:hover {
  background-color: #669ebf;
}
.more-detail:active {
  background-color: #5596be;
  color: #84b0cd;
}

.reserve {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  padding: 4px 17px;
  background-color: #766257;
}
.reserve:hover {
  background-color: #604e44;
}

.reserve:active {
  background-color: #503e34;
  color: #928a87;
}

/*Футер*/


.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  height: 120px;
}

.footer-margin {
  position: absolute;
  margin-top: -123px;
  width: 1200px;
}

.footer-margin-hotels {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visit {
  font-family: inherit;
  font-size: 21px;
  font-weight: bold;
  margin-top: 18px;
  margin-left: 134px;
}

.visit-margin-general {
  margin-top: 20px;
}

.footer-social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 252px;
}

.footer-social:first-child {
  font-size: 21;
  font-weight: bold;
}

.social-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px;
  background-color: #81b2d2;
  margin: 0 3px;
}

.social-button {
  fill: #ffffff;
}

.social-bg:hover {
  background-color: #669ebf;
}

.social-bg:active {
  background-color: #5596be;
}

.social-bg:active .social-button {
  fill: #ffffff;
  opacity: 0.3;
}

.main-footer p:last-of-type {
  font-family: inherit;
  font-size: 14px;
}

.main-footer p:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 224px;
}

.footer-site-by {
  vertical-align: middle;
  width: 129px;
  margin-left: 6px;
}

.footer-site-by:hover .footer-site-by-logo {
  fill: #82b3d1;
}
.footer-site-by:focus .footer-site-by-logo {
  fill: #bebcbd;
}
